.feed-view {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.recommendation {
  margin-bottom: 1rem;
}

.recommendation :deep(h1),
.recommendation :deep(h2),
.recommendation :deep(h3),
.recommendation :deep(h4),
.recommendation :deep(h5),
.recommendation :deep(h6) {
  font-size: revert;
  font-weight: revert;
  margin: revert;
}