:root {
  /* Primary colors - light theme */
  --color-primary: oklch(0.48 0.40 290);
  --color-primary-rgb: 107, 0, 242;
  --color-primary-container-rgb: 137, 84, 255;

  /* Secondary colors - light theme */
  --color-secondary: oklch(70% 0.2 220);
  --color-secondary-rgb: 0, 178, 221;
  --color-secondary-container-rgb: 101, 231, 255;

  /* Tertiary colors - light theme */
  --color-tertiary: oklch(80% 0.15 180);
  --color-tertiary-rgb: 0, 220, 193;

  /* Background colors */
  --bg-blurred: linear-gradient(var(--color-primary), var(--color-tertiary));
  --bg-bubbles1: var(--color-primary);
  --bg-bubbles2: var(--color-secondary);

  --color-secondary-bg: oklch(85% 0.1 220);
  --bg-light-primary: oklch(90% 0.05 290);
  --bg-light-secondary: oklch(85% 0.05 220);

  --bg-mesh-primary: var(--color-primary);
  --bg-mesh-secondary: var(--color-secondary);
  --bg-motes-primary: var(--color-primary);
  --bg-motes-secondary: var(--color-secondary);
  --bg-mouse-start: var(--color-primary);
  --bg-mouse-end: var(--color-secondary);

  /* Card colors */
  --text-secondary: oklch(60% 0.05 290);
  --progress-bg: oklch(90% 0.05 290);
}

.dark {
  /* Primary colors - dark theme */
  --color-primary: oklch(45% 0.25 290);
  --color-primary-rgb: 154, 114, 248;
  --color-primary-container-rgb:204, 177, 244

  /* Secondary colors - dark theme */
  --color-secondary: oklch(55% 0.18 220);
  --color-secondary-rgb: 95, 193, 241;
  --color-secondary-container-rgb: 234, 241, 243

  /* Tertiary colors - dark theme */
  --color-tertiary: oklch(65% 0.13 180);
  --color-tertiary-rgb: 125, 224, 215;

  /* Dark background colors */
  --bg-light-primary: oklch(30% 0.05 290);
  --bg-light-secondary: oklch(25% 0.05 220);
}
