/* https://www.youtube.com/watch?v=lsP_ZVtlySc */
.glassy-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-mouse);
  backdrop-filter: blur(50px);
  pointer-events: none;
}
