/* https://www.youtube.com/watch?v=Ml-B-W91gtw */
@keyframes moveInCircle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}

@keyframes moveVertical {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
}

@keyframes moveHorizontal {
  0%,
  100% {
    transform: translateY(-50%) translateX(-10%);
  }
  50% {
    transform: translateY(50%) translateX(10%);
  }
}

/* main wrapper */
.gradient-bg {
  background: linear-gradient(40deg, var(--bg-light-secondary), var(--bg-light-primary));

  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .gradient {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color), 0.8) 0,
        rgba(var(--color), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--bubbles-blending);
    width: var(--bubbles-circle-size);
    height: var(--bubbles-circle-size);
    opacity: 1;
  }

  .g1 {
    --color: var(--color-primary-rgb);
    top: calc(50% - var(--bubbles-circle-size) / 2);
    left: calc(50% - var(--bubbles-circle-size) / 2);
    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
  }

  .g2 {
    --color: var(--color-secondary-rgb);
    top: calc(50% - var(--bubbles-circle-size) / 2);
    left: calc(50% - var(--bubbles-circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
  }

  .g3 {
    --color: var(--color-tertiary-rgb);
    top: calc(50% - var(--bubbles-circle-size) / 2 + 200px);
    left: calc(50% - var(--bubbles-circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
  }

  .g4 {
    --color: var(--color-primary-rgb);
    top: calc(50% - var(--bubbles-circle-size) / 2 + 200px);
    left: calc(50% - var(--bubbles-circle-size) / 2 - 500px);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
  }

  .g5 {
    --color: var(--color-secondary-rgb);
    width: calc(var(--bubbles-circle-size) * 2);
    height: calc(var(--bubbles-circle-size) * 2);
    top: calc(50% - var(--bubbles-circle-size) / 2 + 200px);
    left: calc(50% - var(--bubbles-circle-size) / 2 - 500px);
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
  }

  .interactive {
    --color: var(--color-primary-rgb);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
  }
}
