.cursor-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(40deg, var(--bg-light-secondary), var(--bg-light-primary));
  overflow: hidden;
  box-sizing: border-box;
}
.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 9999999999999999;
}
.circle {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #fff;
}
